<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" ng-app="chathamApp"> <!--<![endif]-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/angular"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="/testController"></script>
<style>
	.profileImageWrapper { margin-right: auto; margin-left: auto; width: 252px; }
	.gameWrapper { margin-left: auto; margin-right: auto; }
	h1,h2 { text-align: center; }
	.rowWidthObject { width: 100%; display: block; }
	.NextPersonButton { margin-left: auto; margin-right: auto; width: 120px; padding-left: 0px; }
	.PlayAgainButton { margin-left: auto; margin-right: auto; width: 120px; padding-left: 0px; }
	/*.btn {
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		-webkit-border-radius: 11;
		-moz-border-radius: 11;
		border-radius: 11px;
		text-shadow: 4px 1px 20px #666666;
		font-family: Courier New;
		color: #ffffff;
		font-size: 21px;
		padding: 4px 20px 4px 20px;
		text-decoration: none;
	}

	.btn:hover {
		background: #3cb0fd;
		background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
		background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
		background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		text-decoration: none;
	}*/
</style>
<style>
	/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.pure-button:focus {
    outline: 0;
}
.pure-button-active,
.pure-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
</style>
<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->
</head>
<body ng-controller="homePageController">
	<h1>Guess this Chatham Ight !!</h1>
	<!-- <h1>This is the input profile page</h1>
	<h2>{{ testValue }}</h2> -->

	<!-- <h2>{{firstName+' '+lastName}}</h2>
	<h5>{{ description }}</h5> -->
	<!-- <h2>{{image2}}</h2> -->
	<h2>Score: {{numberCorrect}}/{{numberTried}}</h2>

	<div class="gameWrapper" ng-show="!(showListCompleteForm)" ng-hide="(showListCompleteForm)">
		<div class="rowWidthObject">
			<div class="profileImageWrapper">
				<img ng-src="/profilePhoto/{{profileId}}"></img>
			</div>
		</div>
		<div class="possibleAnswersWrapper" ng-show="!(showAnswerResults)" ng-hide="showAnswerResults">
			<div ng-repeat="names in wrongNames">
				<h2 ng-click="checkAnser(names.id)">{{names.name}}</h2>
			</div>
		</div>
		<div class="resultsWrapper" ng-show="(showAnswerResults)" ng-hide="!(showAnswerResults)">
			<div class="correctAnswer" ng-show="(theyAnsweredCorrect)" ng-hide="!(theyAnsweredCorrect)">
				<h1>IIIGGGHHTTT!</h1>
			</div>
			<div class="incorrectAnswer" ng-show="!(theyAnsweredCorrect)" ng-hide="(theyAnsweredCorrect)">
				<h1>YOU DOOFUS!</h1>
			</div>
			<div class="rowWidthObject">
				<div class="NextPersonButton">
					<button class="pure-button pure-button-primary" ng-click="getARandomPerson()">Next Person</button>
				</div>
			</div>
			<h2>{{firstName+' '+lastName}}</h2>
			<h5>{{ description }}</h5>
		</div>
		<!-- <img ng-src="/profilePhoto/Joe Siu"><img>

		<!-- <img src="/profilePhoto/Bob_Newman"></img>
		<img src="/profilePhoto/Matt O'Leary"></img> -->
		<br /><br /><br /><br />
	</div>
	<div class="finishedFormWrapper" ng-show="showListCompleteForm" ng-hide="!(showListCompleteForm)">
		<h1>Congrats! You completed the list!!</h1>
		<h2>You answered {{numberCorrect}} out of {{numberTried}} correctly</h2>
		<div class="rowWidthObject">
			<div class="PlayAgainButton">
				<button class="pure-button pure-button-primary" ng-click="restartTheList()">Play Again!</button>
			</div>
		</div>
	</div>
	<!-- <form>
	First Name: <input type="text" ng-model="profileFirstName"></input><br /><br />
	Last Name: <input type="text" ng-model="profileLastName"></input><br /><br />
	Image Path: <input type="text" ng-model="profileImagePath"></input><br /><br />
	<textarea rows="10" cols="60" ng-model="profileDescription"></textarea><br /><br />


	<button ng-click="createANewProfile()">Make A New Thing</buttom>
	</form> -->
</body>
</html>